include ./components/head.pug
body
  .navBar
    include ./components/back.pug
    if(isTeacher)
      form(name="editQuiz") 
        button(type="submit") Edit
      form(name="deleteQuiz") 
        button(type="submit") Delete
    b Time: 
      u 10 Minutes
  if data
    .page
      form(name="submitAns")
        center 
          b Start quiz of 
            u #{data.subject||'subject.'}
        table
          tbody
            each q, i in data.questions
              tr
                th(colspan="4")
                  span.index #{i + 1}
                  span #{q.questionText}
              tr
                each opt, j in q.options
                  td #{opt.text}
                    input(type="radio" name=`ans[${i+1}]` value=j+1 id=`q${i}a${j}` required)
            tr 
              td(colspan="4")
                center#formBtnContainer
                  button
                  button#formBtn(type="submit") Submit Answers
                  button
    script.
      const serverData  = !{JSON.stringify(data)};
      const isTeacher  = "#{isTeacher}";
      const id = "#{data._id}";
      document.addEventListener("DOMContentLoaded", () => {
        function showMsg(success, message) {
          let popUp = document.createElement("span")
          popUp.innerText=message;
          popUp.classList.add("message");
          setTimeout(() => { popUp.remove() }, 3000);
          (!success)? document.body.append(popUp):window.location.href = "/index";
        }
        if(isTeacher==="true"){
          document.forms.editQuiz.addEventListener("submit", async (e) => {
            e.preventDefault();
            let con = confirm("Are you sure you want to edit this quiz?");
            if(!con) return;
            const formData = new FormData();
            formData.append("data", JSON.stringify(serverData));
            const entries = Object.fromEntries(formData.entries());
            const res = await fetch(`/quiz/${serverData._id}`,{method: "POST",headers: {'Content-Type': 'application/json'},body:JSON.stringify(entries)});
            const result = await res.json();
            (result.success)? window.location.href=`/admin/${serverData._id}`: showMsg(result.success, result.message);
          });
          document.forms.deleteQuiz.addEventListener("submit", async (e) => {
            e.preventDefault();
            let con = confirm("Are you sure you want to delete this quiz?");
            if(!con) return;
            const res = await fetch(`/quiz/${id}`,{method: "DELETE",headers: {'Content-Type': 'application/json'}});
            const result = await res.json();
            (result.success)? window.location.href=`/index`: showMsg(result.success, result.message);
          });
        }
        document.forms.submitAns.addEventListener("submit", async (e) => {
          e.preventDefault();
          const scoreBox = document.querySelectorAll("#formBtnContainer>button");
          const formData = new FormData(e.target);
          formData.append("id",id)
          const entries = Object.fromEntries(formData.entries());
          const res = await fetch('/submitAns',{method: "POST",headers: {'Content-Type': 'application/json'},body:JSON.stringify(entries)});
          const result = await res.json();
          const { correctAnswers, nextId, userAnswers, score } = result;
          correctAnswers?.forEach((correctIndex, i) => {
            for (let j = 0; j < 4; j++) {
              const option = document.getElementById(`q${i}a${j}`);
              const label = option.parentElement;
              option.disabled = true;
              if (j === correctIndex-1) {
                label.style.cssText ="color:green;background:lightgreen;";
                if (userAnswers[i] == correctIndex) label.style.cssText = "background:green;box-shadow:none;";
              } else {label.style.cssText = "background:red;"};
            }
          });
          if(score){
            scoreBox[0].innerText = `Score: ${score}/${correctAnswers.length}`;
            scoreBox[0].style="visibility: visible;";
          } 
          if(nextId!=null){
            scoreBox[1].innerText = `Next quiz`;
            scoreBox[1].type="button";
            scoreBox[1].onclick=()=>{window.location.href=`/subject/${nextId}`;}
          }else{ scoreBox[1].style="visibility: collapse;"; };
          scoreBox[2].innerText = `Re-Try ðŸ”`;
          scoreBox[2].style="visibility: visible;";
          scoreBox[2].onclick=()=>{window.location.reload()};
        });
      });
  else 
    p No Data Found !