include ./components/head.pug
body
  .myPop
    .popBox
      h5 Receive OTP to reset password.
      form.authForm(name="getOtp")
        label(for="existingEmail") Email:
        input#existingEmail(required="true" name="email" type="email" autocomplete="true")
        button#getOtp(type="submit") Get OTP
      form.authForm(name="verifyOtp")
        label(for="otp") Enter OTP:
        input#otp(required="true" name="otp" pattern="[0-9]*" inputmode="numeric" type="number")
        input#reEmail(value=(email) name="reEmail" type="email" hidden)
        button#verifyOtp(type="submit") Verify OTP
      form.authForm(name="updatePass" action="/updatePassword" method="post")
        input#passEmail( name="passEmail" type="email" hidden)
        label(for="newPass") New Password:
        input#newPass(required="" name="newPass" type="password" )
        button#resetPass(type="submit") Reset Password
      a(href="/") Go Back To Log-In
  script.
    document.addEventListener('DOMContentLoaded',()=>{
      let existingEmail = document.getElementById("existingEmail");
      let passEmail = document.getElementById("passEmail");
      let newPass = document.getElementById("newPass");
      let reEmail = document.getElementById("reEmail");
      let getOtpBtn = document.getElementById("getOtp");
      let verifyOtpBtn = document.getElementById("verifyOtp");
      let rePassBtn = document.getElementById("resetPass");
      let otp = document.getElementById("otp");
      verifyOtpBtn.style="display:none;";
      rePassBtn.style="display:none;";
      newPass.readOnly = true;
      otp.readOnly = true;
      document.forms[0].addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/getOtp',{
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body:JSON.stringify(entries)
        });
        const logResult = await res.json();
        const {success,message,email} = logResult;
        let p = document.createElement("p")
        p.innerText=message;
        p.classList.add("message", "active");
        if(success){
          existingEmail.value=email;
          existingEmail.readOnly = true;
          otp.readOnly = false;
          reEmail.value=email;
          passEmail.value=email;
          verifyOtpBtn.style="display:block;";
          getOtpBtn.style="display:none;";
          document.body.append(p);
        } else{
          document.body.append(p);
        } 
      });
      document.forms[1].addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/verifyOtp',{
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body:JSON.stringify(entries)
        });
        const logResult = await res.json();
        const {message,success} = logResult;
        let p = document.createElement("p")
        p.innerText=message;
        p.classList.add("message", "active");
        if(success){
          rePassBtn.style="display:block;";
          otp.readOnly = true;
          newPass.readOnly = false;
          verifyOtpBtn.style="display:none;";
        } else{
          p.innerText=message;
          document.body.append(p);
        }
      });
      document.forms[2].addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/updatePassword',{
          method: "POST",
          headers: {'Content-Type': 'application/json'},
          body:JSON.stringify(entries)
        });
        const logResult = await res.json();
        const {message,success} = logResult;
        let p = document.createElement("p")
        p.innerText=message;
        p.classList.add("message", "active");
        if(success){
          rePassBtn.type="button";
          document.forms[2].reset();
          newPass.readOnly = true;
          p.innerText=message;
          document.body.append(p);
          window.location.href="/";
        } else{
          document.body.append(p);
        }
      });
    })