include ./components/head.pug
body
  .myPop
    .popBox
      h5 Receive OTP to reset password.
      form.authForm(name="getOtp")
        label(for="existingEmail") Email:
        input#existingEmail(required="true" name="email" type="email" autocomplete="true")
        button#getOtp(type="submit") Get OTP
      form.authForm(name="verifyOtp")
        label(for="otp") Enter OTP:
        input#otp(required="true" name="otp" pattern="[0-9]*" inputmode="numeric" type="number")
        input#reEmail(value=(email) name="reEmail" type="email" hidden)
        button#verifyOtp(type="submit") Verify OTP
      form.authForm(name="updatePass" action="/updatePassword" method="post")
        input#passEmail( name="passEmail" type="email" hidden)
        label(for="newPass") New Password:
        input#newPass(required="" name="newPass" type="password" )
        button#resetPass(type="submit") Reset Password
      a(href="/") Go Back To Log-In
  script.
    document.addEventListener('DOMContentLoaded',()=>{
      function showMsg(success, message) {
        let popUp = document.createElement("span")
        popUp.innerText=message;
        popUp.classList.add("message");
        setTimeout(() => { popUp.remove() }, 3000);
        (!success)? document.body.append(popUp):window.location.href = "/index";
      }
      let existingEmail = document.getElementById("existingEmail");
      let passEmail = document.getElementById("passEmail");
      let reEmail = document.getElementById("reEmail");
      let getOtpBtn = document.getElementById("getOtp");

      let newPass = document.getElementById("newPass");
      newPass.readOnly = true;
      let verifyOtpBtn = document.getElementById("verifyOtp");
      verifyOtpBtn.style="display:none;";
      let rePassBtn = document.getElementById("resetPass");
      rePassBtn.style="display:none;";
      let otp = document.getElementById("otp");
      otp.readOnly = true;
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      const passwordRegex = /^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{6,12}$/;

      document.forms.getOtp.addEventListener("submit", async (e) => {
        e.preventDefault();
        if (!emailRegex.test(reEmail.value.trim())) {
          showMsg(false, "Enter a valid email");
          return;
        }
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/getOtp',{method: "POST",headers: {'Content-Type': 'application/json'},body:JSON.stringify(entries)});
        const logResult = await res.json();
        const {success,message,email} = logResult;
        if(success){
          otp.focus();
          existingEmail.value=email;
          existingEmail.readOnly = true;
          otp.readOnly = false;
          reEmail.value=email;
          passEmail.value=email;
          verifyOtpBtn.style="display:block;";
          getOtpBtn.style="display:none;";
          showMsg(false, message)
        }else{
          showMsg(success, message)
        }
      });
      document.forms.verifyOtp.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/verifyOtp',{method: "POST",headers: {'Content-Type': 'application/json'},body:JSON.stringify(entries)});
        const logResult = await res.json();
        const {message,success} = logResult;
        if(success){
          rePassBtn.style="display:block;";
          otp.readOnly = true;
          newPass.readOnly = false;
          verifyOtpBtn.style="display:none;";
          showMsg(false, message);
        }else{
          showMsg(success, message);
        }
      });
      document.forms.updatePass.addEventListener("submit", async (e) => {
        e.preventDefault();
        if (!passwordRegex.test(rPass.value.trim())) {
          showMsg(false, "Enter a valid password\nPassword must be\n-> 6-12 chars\n-> 1 uppercase\n -> 1 number\n -> 1 special char");
          return;
        }
        const formData = new FormData(e.target);
        const entries = Object.fromEntries(formData.entries());
        const res = await fetch('/updatePassword',{method: "POST",headers: {'Content-Type': 'application/json'},body:JSON.stringify(entries)});
        const logResult = await res.json();
        const {message,success} = logResult;
        if(success){
          rePassBtn.type="button";
          document.forms.updatePass.reset();
          newPass.readOnly = true;
          showMsg(success, message);
        }else{
          showMsg(success, message);
        }
      });
    })